.alert-message-container {
    align-items: center;
    opacity: 1;
    overflow-y: hidden;
    box-sizing: border-box;
    max-height: 48px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: relative;
    background-color: darkslategray;
    color: white;
    max-width: 400px;
}
.alert-message-container .alert-item {
    flex-grow: 1;
    font-size: 15px;
}
.alert-message-container .alert-item.item-1 {
    flex: 0 0 1.5rem;
}
.alert-message-container .alert-item.item-1 .icon {
    font-size: 1.4rem;
}
.alert-message-container .alert-item.item-2 {
    flex: 1 1 auto;
    padding-left: .4rem;
    font-family: "Roboto";
}
.alert-message-container .alert-item.item-3 {
    flex: 0 0 1.5rem;
}
.alert-message-container.closed {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}
.alert-message-container.showHide {
    display: flex;
    animation: fadeOutSlideUp 5s ease-out forwards;
}
@keyframes fadeOutSlideUp {
    0% {
        opacity: 0;
        max-height: 48px;
        padding: 10px;
        margin-bottom: 10px;
   }
    20%, 80% {
        opacity: 1;
        max-height: 48px;
        padding: 10px;
        margin-bottom: 10px;
   }
    90%, 95% {
        opacity: .2;
        max-height: 48px;
        padding: 10px;
        margin-bottom: 10px;
   }
    100% {
        opacity: 0;
        max-height: 0;
        padding: 0;
        margin: 0;
   }
}
