<div class="header-container">
    <h1>HEADER</h1>
    <ul class="menu">
        <li>
            <a href="/mdb-spring-boot/home/">Home</a>
        </li>
        <li>
            <a href="/mdb-spring-boot/home/view-2">View 2</a>
        </li>
        <li>
            <a href="/mdb-spring-boot/home/view-3">View 3</a>
        </li>
    </ul>
</div>