<div>
    <ul>
        <li>
            <div>
                <a href="/view-2">View 2</a>
            </div>
        </li>
        <li>
            <div>
                <a href="/view-3">View 3</a>
            </div>
        </li>
    </ul>
</div>