#set ($test = "works")

#set( $color = "yellow" )
<table>
#renderTableRows( $color $request )
</table>

#renderTestMacro("foo" true false )
<div>$testVar</div>

<script type="text/javascript">
var myvar = "${test}";
console.log(myvar)
</script>