<div class="view-3-container">
    <h1>VIEW 3</h1>
    <div>$request.getRequestURI()</div>

    ## Quiet reference notation
    #set ($test = $null)
    <div>$test</div>
    <div>$!test</div>
    <script type="text/javascript">
        console.log("$test");
        console.log("$!test");
    </script>

    ## Formal notation - with curly braces
    #set ($fruit = "apple")
    <div>$fruit-juice</div>
    <div>${fruit}-juice</div>

    ## Booelan
    #set ($ok = false)
    #if($ok)
        <div>"OK"</div>
    #elseif(!$ok)
        <div>"NOK"</div>
    #end

    <div>$message</div>

    <div>$mailProps.from</div>
    <div>$mailProps.host</div>
    <div>$mailProps.port</div>
</div>