<div class="view-2-container">
    #renderAlertMessage("View 2 - a special message")
    <h1>VIEW 2</h1>
    <div>$request.getRequestURI()</div>

    <table class="employees-table">
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
        #foreach($x in $employees)
            <tr>
                <td>$foreach.count</td>
                <td>$x.firstName</td>
                <td>$x.lastName</td>
                <td>$x.gender</td>
                <td>$x.email</td>
                <td>$x.department</td>
                <td>$x.salary</td>
            </tr>
        #end
    </table>

    <form class="employee-form" method="post" action="/mdb-spring-boot/home/save_employee">

        <div>
            <label for="firstname">First name:</label>
            <input type="text" id="firstname" name="firstName">
        </div>

        <div>
            <label for="lastname">Last name:</label>
            <input type="text" id="lastname" name="lastName">
        </div>

        <div>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div>

        <div>
            <label for="department">Department:</label>
            <input type="department" id="department" name="department">
        </div>

        <div>
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary">
        </div>

        <button type="submit">Add</button>
    </form>
</div>