<div class="view-1-container">
    #renderAlertMessage()
    <h1>$!pageTitle</h1>
    <div>$request.getRequestURI()</div>
    <button onclick="javascript:messageModule.init('Lorem Ipsum Dolor Sit Amet!')">Show message</button>
</div>