<div class="view-2-container">
    #renderAlertMessage("View 2 - a special message")
    <h1>VIEW 2</h1>
    <div>$request.getRequestURI()</div>

    <table class="employees-table">
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
        #foreach($x in $employees)
            <tr>
                <td>$foreach.count</td>
                <td>$x.firstName</td>
                <td>$x.lastName</td>
                <td>$x.gender</td>
                <td>$x.email</td>
                <td>$x.department</td>
                <td>$x.salary</td>
            </tr>
        #end
    </table>

    <form class="employee-form" method="post" action="/mdb-spring-boot/home/save-employee">

        <div>
            <label for="firstname">First name:</label>
            <input type="text" id="firstname" name="firstName" value="$!employee.firstName">
        </div>

        <div>
            <label for="lastname">Last name:</label>
            <input type="text" id="lastname" name="lastName" value="$!employee.lastName">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="$!employee.email">
        </div>

        <div>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender" value="$!employee.gender">
        </div>

        <div>
            <label for="department">Department:</label>
            <input type="text" id="department" name="department" value="$!employee.department">
        </div>

        #set ($employeeProjects = "")
        #foreach( $project in $!employee.projects )
            #if($!employeeProjects == "")
                #set ($employeeProjects = $project)
            #else
                #set ($employeeProjects = $employeeProjects + ', ' + $project)
            #end
        #end

        <div>
            <label for="projects">Projects:</label>
            <input type="text" id="projects" name="projects" value="$!employeeProjects">
        </div>

        <div>
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary" value="$!employee.salary">
        </div>

        <div>
            <label for="mobile">Mobile:</label>
            <input type="text" id="mobile" name="mobile" value="$!employee.mobile">
        </div>

        <button type="submit">Add</button>
        <button id="btnAjaxSubmit" type="button">Add (ajax)</button>
    </form>
    #renderValidationErrors($validationErrors)
    <script>
        (function ($) {
            $.fn.getFormData = function () {
                let data = {};
                let dataArray = $(this).serializeArray();

                for (let i = 0; i < dataArray.length; i++) {
                    data[dataArray[i].name] = dataArray[i].value;
                }

                return data;
            };
        })(jQuery);

        $("#btnAjaxSubmit").on("click", (e) => {
            e.preventDefault();

            var formData = $(".employee-form").getFormData();
            formData.projects = formData.projects.split(",");

            $.ajax({
                type: "POST",
                url: "/mdb-spring-boot/home/save-employee-ajax",
                data: JSON.stringify(formData),
                contentType: 'application/json', // what type of content we're sending
            }).done(function (data) {
                var parser = new DOMParser();
                var doc = parser.parseFromString(data, 'text/html');
                document.querySelector(".validation-errors").innerHTML = doc.querySelector(".validation-errors").innerHTML;
                document.querySelector(".employees-table").innerHTML = doc.querySelector(".employees-table").innerHTML;
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText || textStatus);
            })            
        });
    </script>
</div>