<div class="view-1-container">
    <h1>$!pageTitle</h1>
    <div>$request.getRequestURI()</div>
    <button onclick="javascript:messageModule.notify('Lorem Ipsum Dolor Sit Amet!')">Notify</button>
</div>