<html>
    <head>
        <link href="/mdb-spring-boot/styles/styles.css" rel="stylesheet" type="text/css">
        <style>
            body {
                background-color: LightSkyBlue;
            }
        </style>
    </head>
    <body>
        <div>
            <div>$!layout_key</div>

            <div>
                #parse("/fragments/header.vm")
            </div>

            <!-- see application.properties -->
            $body_content

            <div>
                #parse("/fragments/footer.vm")
            </div>
        </div>
        <script src="/mdb-spring-boot/scripts/scripts.js"></script>
    </body>
</html>
