<html>
    <head>
        #parse("common/scripts.vm")
        <link href="/mdb-spring-boot/styles/styles.css" rel="stylesheet" type="text/css">
        <style>
            body {
                background-color: lightgreen;
                font-family: arial;
            }
        </style>
    </head>
    <body>
        <div>
            <div>$!layout_key</div>

            #parse("/fragments/header.vm")

            <!-- see application.properties -->
            $body_content
        </div>
    </body>
</html>