.header-container {
    background: #63B175;
    padding: 5px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: SteelBlue;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: LightSteelBlue;
    color: black;
}

.footer-container {
    background: #63B175;
    padding: 5px;
}

.view-1-container {
    background-color: crimson;
    color: white;
    padding: 5px;
    margin: 5px auto;
}

.view-2-container {
    background-color: DarkSlateGray;
    color: white;
    padding: 5px;
    margin: 5px auto;
}

.view-3-container {
    background-color: SlateGray;
    color: white;
    padding: 5px;
    margin: 5px auto;
}

.alert-message-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-radius: 4px;
    background-color: DodgerBlue;
    color: white;
    padding: 0 10px;
}

.alert-message-container .alert-item {
    font-size: 15px;
}

.alert-message-container .alert-item.alert-item-close {
    cursor: pointer;
}

.alert-message-container.closed {
    display: none;
}

.employees-table,
.employees-table td,
.employees-table th {
    border: 1px solid;
}

.employee-form {
    width: 300px;
}

.employee-form div {
    display: flex;
    justify-content: space-between;
}