<html>
    <head>
        <title>$!pageTitle</title>

        <link href="styles/alert.css" rel="stylesheet" type="text/css">

        <style>
            body {
                background-color: LightSkyBlue;
            }
        </style>
    </head>
    <body>
        <div>
            #parse("/fragments/header.vm")
        </div>

        <div>$!layout_key</div>
        <div>
            <a href="/">Home</a>
        </div>

        <div>

            $screen_content

        </div>

        <div>
            #parse("/fragments/footer.vm")
        </div>

        <script src="scripts/alert.js"></script>

    </body>
</html>